header {
  background-color: #222;
  padding: 5px 0; 
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
}

.navbar {
  display: flex;
  justify-content: center;
  width: 80%;
  max-width: 900px;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center; 
}

.navbar ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  padding: 3px 0; 
  transition: color 0.3s ease;
}

.navbar ul li a:hover {
  color: #ddd;
}
