.projetos {
  padding: 50px 0;
  background-color: #fff;
  text-align: center;
}

.projetos h2 {
  font-size: 2rem;
  margin-bottom: 30px;
  font-weight: bold;
}

.projetos-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 30px;
  max-width: 900px;
  margin: 0 auto;
}

.projeto-item {
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  transition: box-shadow 0.3s ease;
}

.projeto-item:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
}

.projeto-item img {
  width: 100%; 
  height: auto;
  max-height: 200px;
  object-fit: contain;
  border-radius: 8px;
  margin-bottom: 15px;

}

.projeto-item p {
  font-size: 1.1rem;
  color: #333;
}
