.sobre {
  padding: 50px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sobre-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}


.profile-pic {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  order: 2;
}

h1 {
  font-size: 2.5rem;
  margin: 0;
}

.sobre-texto {
  margin-top: 10px;
  padding: 0 20px;
}

.sobre-texto p:first-of-type {
  font-size: 1.4rem;
  font-weight: bold;
  color: #444;
  margin-top: 5px;
}

.sobre-texto p:nth-of-type(2) {
  font-size: 1.1rem;
  color: #666;
  line-height: 1.6;
  text-align: justify;
  margin-top: 15px;
}

/* Responsividade */
@media (min-width: 768px) {
  .sobre-container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .sobre-texto {
      order: 1;
      text-align: left;
  }

  .profile-pic {
    border-radius: 50%;
    width: 200px; 
    height: 200px; 
    object-fit: cover;
    margin-bottom: 20px;
    order: 2; 
}

}
